<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-6 offest-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
           <div class="card-body">
            <img src="https://images.unsplash.com/photo-1477951324676-cd9dab85abd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" 
            class="card-img-top">
            <h5 class="card-title">Register</h5>
    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" name="email" id="email" type="email" placeholder="fun@teset.com" autofocus required>
            <div class="valid-feedback">
                That works!
            </div>

            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" name="username" id="username" type="text" placeholder="Camper696" required>
                <div class="valid-feedback">
                    That works!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" name="password" id="password" type="password" required>
                <div class="valid-feedback">
                    That works!
                </div>
            </div>
                <button class="btn btn-success btn-block">Register</button>
            
    </form>
           </div>
                </div>
            </form>
        </div>
    </div>

    